<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Сила воли</title>
  <link rel="stylesheet" href="static/css/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
  <div class="main">
    <div class="mainCount">
      <span id="clicks">0</span>
    </div>
    <span id="TargetText">Чтобы получить флаг, наберите 600000 кликов</span>
    <button class="mainButton" type="button" onClick="onClick()">
      TAP
    </button>
    <div class="progress-container">
      <div class="progress-bar" id="progressBar">

      </div>
    </div>  
  </div>
  <span id="flag"></span>
  <script src="static/js/index.js"></script>
</body>
</html>